# This file contains common pin mappings for the BIGTREETECH EBB36 V1.2.
# To use this config, the firmware should be compiled for the 
# STM32G0B1 with "8 MHz crystal" and "CAN bus (on PB0/PB1)".

# change the mcu section name to the tool board you are configuring:
# EBB0, EBB1, etc.
[mcu EBB0]
canbus_uuid: 79f86068d0be

# change the accelerometer section name to the tool you are configuring:
# T0, T1, etc.
[adxl345 T0]
cs_pin: EBB0:PB12
spi_software_sclk_pin: EBB0:PB10
spi_software_mosi_pin: EBB0:PB11
spi_software_miso_pin: EBB0:PB2
axes_map: x,z,-y

# change to the extruder section you are configuring:
# extruder, extruder1, etc.
[extruder] # Orbiter2.5 with CHCB-V Hotend
step_pin: EBB0:PD0
dir_pin: EBB0:PD1
enable_pin: !EBB0:PD2
heater_pin: EBB0:PB13
sensor_pin: EBB0:PA3
microsteps: 16
rotation_distance: 4.69
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
min_temp: 0
max_temp: 290
pressure_advance: 0.03
sensor_type: ATC Semitec 104NT-4-R025H42G
# max_extrude_only_distance: 101
control: pid
pid_Kp=27.348 # Reduce gain to make response gentler
pid_Ki=3.376  # Reduce accumulated correction
pid_Kd=55.383     # Increase damping to resist sharp swings

# change the tmc2209 section name to match the extruder you are configuring:
# extruder, extruder1, etc.
[tmc2209 extruder] # Orbiter2.5
uart_pin: EBB0:PA15
run_current: 0.85
stealthchop_threshold: 0

# change the heater_fan section name to match the tool you are configuring:
# T0_hotend_fan, T1_hotend_fan, etc.
[heater_fan T0_hotend_fan]
pin: EBB0:PA1
heater: extruder # change to match the extruder you are configuring: extruder, extruder1, etc.
heater_temp: 50.0

# change the fan_generic section name to the tool you are configuring:
# T0_partfan, T1_partfan, etc.
[fan_generic T0_part_fan]
pin: EBB0:PA0

# change the tool section name to the tool you are configuring:
# T0, T1, etc.
[tool T0]
tool_number: 0 # change to the index of the tool. 0, 1, 2, etc.
extruder: extruder # change to match the extruder you are configuring: extruder, extruder1, etc.
fan: T0_part_fan
params_park_x: 0 # The absolute X-position of the tool in its dock.
params_park_y: 0 # The absolute Y-position of the tool in its dock.
params_park_z: 0 # The absolute Z-position where the tool and shuttle mate in the dock, determined when the TAP (or Z-probe) triggers.
gcode_x_offset: 0 # The X-Axis offset of the nozzle's orifice in relation to tool 0
gcode_y_offset: 0 # The Y-Axis offset of the nozzle's orifice in relation to tool 0
gcode_z_offset: 0 # The Z-Axis offset of the nozzle's orifice in relation to tool 0

# Results from input shaper
# Uncomment the following lines if you have input shaper results for this tool
# params_input_shaper_freq_x: 50.0
# params_input_shaper_type_x: 'mzv'
# params_input_shaper_damping_ratio_x: 0.15
# params_input_shaper_freq_y: 50.0
# params_input_shaper_type_y: 'mzv'
# params_input_shaper_damping_ratio_y: 0.15

# change the tool_probe section name to the tool you are configuring:
# T0, T1, etc.
[tool_probe T0]
pin: EBB0:PB8
tool: 0 # change to the index of the tool. 0, 1, 2, etc.
z_offset: -0.918 # Needs to be calibrated. More positive = More Squish
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder # change to match the extruder you are configuring: extruder, extruder1, etc.

# change the neopixel section name to the tool you are configuring:
# T0, T1, etc.
[neopixel T0]
pin: EBB0:PD3
color_order: GRBW
chain_count: 23
initial_RED: 0.5
initial_GREEN: 0.0
initial_BLUE: 0.5
initial_WHITE: 0.0

# change the gcode_macro section name to the tool you are configuring:
# T0, T1, etc.
[gcode_macro T0]
variable_active: 0 # Must be zero.
variable_color: "" # Leave empty
gcode:
    SELECT_TOOL T=0 # change to the index of the tool. 0, 1, 2, etc.