[include fluidd.cfg]
[include tool_1.cfg]
[mcu]
#serial: /dev/serial/by-id/d3dd20a8f4eb
canbus_uuid: d3dd20a8f4eb

[virtual_sdcard]
path: /home/voron/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: none
max_velocity: 1000
max_accel: 1000
